body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
code {
  margin: 0 .2rem;
  white-space: nowrap;
 }
pre > code {
  display: block;
  white-space: pre;
}
video {
  display: inline-block;
  height: auto;
  text-align: center;
  width: 100%;
}
figcaption{
  text-align: center;
  font-style: italic;
}
q {
  quotes: "“" "”" "‘" "’";
}

@media amzn-kf8 {}
@media amzn-mobi {}
